.ApplicantContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.SearchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.CategoryDropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.JobItem {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.JobItem h3 {
  margin-bottom: 10px;
}

.JobItem p {
  flex-grow: 1;
  margin-bottom: 10px;
}


.ViewDetailsButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 650px;
}

.ViewDetailsButton:hover {
  background-color: #45a049;
}

.JobApplicationForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.JobApplicationForm h2 {
  color: #333;
}

.JobApplicationForm form {
  display: grid;
  gap: 15px;
}

.JobApplicationForm label {
  font-weight: bold;
}

.JobApplicationForm input,
.JobApplicationForm button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.JobApplicationForm button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.JobApplicationForm button:hover {
  background-color: #45a049;
}


.UpdateJobForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.UpdateJobForm h2 {
  color: #333;
}

.UpdateJobForm form {
  display: grid;
  gap: 15px;
}

.UpdateJobForm label {
  font-weight: bold;
}

.UpdateJobForm input,
.UpdateJobForm textarea,
.UpdateJobForm select,
.UpdateJobForm button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.UpdateJobForm button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.UpdateJobForm button:hover {
  background-color: #45a049;
}

.Notification {
 
  background-color: #1a1e1a;
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
}

.UpdateJobForm textarea {
  height: 200px; 
  resize: vertical; 
}